/* Header */

.marca {
	height: 115px;
}

.header {
	padding-top: 15px;
	background-color: #774F38;
}

.texto-header {
	color: #FFFFFF;
}

/* Menu */

.menu {
	padding-top: 15px;
	padding-bottom: 10px;
	background-color: #C5E0DC;
}

.botao-menu {
	width: 100%;
	height: 100%;
	background-color: #C5E0DC;
}

.social {
	padding-top: 10px;
}

/* Slider */

/*Arruma o tamanho da imagem */
.carousel-inner > .item > img {
    margin: auto;
    height: 200px;
}

/* Index  */

.introducao {
	padding-top: 30px;
}

.infos {
	padding-top: 30px;
}

.well {
	background: #F1D4AF;
}
.carousel {
	width: 98%;
}

/* Contato */

.formulario {
	padding-top: 30px;
}

/* Produtos */

.badge {
	background: #774F38;
}

.btn-carrinho {
	background: #C5E0DC;
}

.btn-cadastro {
	background: #F38B6E;
}

.btn-entrar {
	background: #F38B6E;
}

.imagem-produto > img {
	margin: auto;
	height: 200px;
	border-radius: 25px;
}

.corpo-produtos {
	padding-top: 30px;
}

.lista-produtos {
	background: #ECE5CE;
}

.list-group-item {
	background: #ECE5CE;
	border-color: #ECE5CE;
}

.qtd {
	background: #C5E0DC;
}

.quantidade {
	background-color: #ECE5CE;
	border-radius: 25px;
}

.modal-f, .modal-h {
	background: #E08E79;
}

.modal-b {
	background: #F1D4AF;
}

@media only screen and (min-width: 1224px) {
	.carrinho {
		position: fixed;
		margin-left: 67%;
	}
}


/* Styling de tags */

body {
	width: 100%;
	font-family: "R", Arial;
	background-color: #E08E79;
}

p {
	color: black;
}

a {
	color: inherit;
}

@font-face {
	font-family: "R";
	src: url(rtraleway-regular-webfont.woff2);
}

input[type="text"], input[type="password"], input[type="email"], textarea {
	background-color: #ECE5CE;
}